.App {
  text-align: center;
}

/*.container{
  display: flex;
}

.flexbox{

  display: block;
  width: 100%;
  justify-content: space-between;
  max-width: 1000px;
  height: 100%;
  margin: 0 auto;
  overflow: hidden;
  padding: 15px;

}

.flexbox .board {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 300px;
  background-color: #331131;
  padding: 15px;
}

.flexbox .board .card{
  
  background-color: #f3f3f3;
  padding: 15px 25px;
  cursor: pointer;
  margin-bottom: 15px;
}*/